// .fixedTable thead tr td{
//     text-align: center;
// }
// .fixedTable{
//     border: solid 1px black;
// }
.fixedTable td {
    text-align: center;
    border: 1px solid white;
    
    // background-color: #457b9d;
}
// .fixedTable thead tr{
//     text-align: center;
//     background-color: "#457b9d";
//     color: blue;
    
// }

.fixedTable thead td{
    // text-align: center;
    background-color: #337ab7;
    color: white;
}



